# Ignorar videos e imágenes pesadas
*.mp4
*.svg

# Ignorar documentos sueltos
*.pdf
*.docx
*.csv
test_vader_si_pudiera_pycaret_lr.ipynb

# Ignorar carpetas completas (nota el "/" al final)
Notebooks-Unidad I/
Presentaciones -Unidad I/
Unidad II/
Unidad III/

# Ignorar bases de datos y carpetas pesadas de MLOps locales
mlartifacts/
mlruns/
mlflow.db

# Ignorar caché de Python
__pycache__/
*.pyc